.input {
    height: 40px;
    width: 400px;
    padding: 0px 20px;
    border: 2px solid #dfd3d3;
    border-radius: 5px;
    outline: none;
    transition: 0.2s;
    font-size: 14px;
    font-weight:600;
}
.input::-webkit-input-placeholder{
    font-weight: 400;
}
.input:focus{
    border: 2px solid blue;
}

@media screen and (max-width: 480px) {
    .input {
        width: 80%;
    }
}